body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.room-requirement-button {
  margin-left: 15px;
  margin-right: 15px;
}

.room-requirement-symbol {
  font-size: 20;
}

.number-of-rooms{
  font-size: 20;
  font-weight: "bold";
}

.room-option{
  border: 1px solid black;
  padding: 5px 3px;
  border-radius: 10px;
  cursor: pointer;
}